.iamgeDiv{
    width: 100%;
    height: 65vh;   
}
.heroImg{
    width: 100%;
    height: 100%;
    border: 8px solid black;
    cursor: pointer;
}
.heroContact-button{
    border: 2px solid rgb(153, 150, 150);
    padding: 5px 10px;
    font-weight: 600;
    transition: 0.3s;
    box-shadow: 2px 2px 5px rgb(234, 232, 232);
    text-shadow: 2px 2px 3px rgb(234, 231, 231);
}
.heroContact-button:hover{
    border: 2px solid rgb(240, 235, 235);
    /* color: white; */
    transition: 0.3s;
}
.iconShdow{
    text-shadow: 3px 3px 8px whitesmoke;
}
.heroBg{
    background: linear-gradient( 150deg, rgb(218, 217, 217), rgb(197, 197, 197), rgb(98, 98, 98) );
}
.text-design{
    text-shadow: 20px;
}
.expertiseCard{
    cursor: pointer;
    transition: transform 1500ms;
}

.expertiseCard:hover .iconExpert{
    transform: rotateY(360deg);
}

@media only screen and (max-width: 1024px){
    .iamgeDiv{
        width: 100%;
        height: 50vh;
          
    }
    
}