.iamgeDiv{
    width: 100%;
    height: 65vh;
    background-color: #1e2124;
    box-shadow:  -8px -8px 15px rgba(74, 74, 74, 0.693), 
	10px 10px 15px rgba(80, 79, 79, 0.326), 
	 inset -8px -8px 12px rgba(204, 204, 204, 0.271),
	 inset 15px 15px 20px rgba(35, 33, 33, 0.101); 
     border:6px solid #1d1f22;
     /* border-radius: 220px 220px 0px 0px;   */
}
.salamText{
    color: #C4CFD3;
    font-style: italic;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.847);
}
.selfTExt{
    color: #FFFFFF;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
}
.nameText{
    color: #FF014F;
}
.heroImg{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.heroContact-button{
    cursor: pointer;
    padding: 10px 20px;
    border:3px solid rgb(26, 28, 31);
    border-radius: 3px;
    font-size: 20px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.781);
    background-color: #212428;
    box-shadow:  -2px -2px 5px rgba(199, 198, 198, 0.282), 
	2px 2px 5px rgb(44, 44, 44), 
	inset -2px -2px 5px rgba(204, 204, 204, 0.271),
	inset 2px 2px 5px rgba(35, 33, 33, 0.101);
    transition: 0.3s ease-in-out;
}
.heroContact-button:hover{
    color: #ff014da2;
    box-shadow: 5px 5px 15px rgba(199, 198, 198, 0.362);   
}
.iconShdow{
    color: white;
    text-shadow: 15px 15px 25px black;
}
.heroBg{
  background-color: #212428;
  filter: grayscale(5%);
}
.heroBottoomBordar{
  border-bottom:3px solid #020202;
}
.text-design{
    text-shadow: 20px;
}
.expertiseCard{
    cursor: pointer;
    transition: transform 1500ms;
}
.expertiseCard:hover .iconExpert{
    transform: rotateY(360deg);
}
.socialLink{
    background: #131517;
    padding: 3px 10px;
    box-shadow:  -2px -2px 8px rgba(199, 198, 198, 0.282), 
	             2px 2px 8px rgb(44, 44, 44), 
	             inset -2px -2px 8px rgba(204, 204, 204, 0.271),
	             inset 2px 2px 8px rgba(35, 33, 33, 0.101);
    border:3px solid rgb(26, 28, 31);
    transition: 0.5s ease-in-out;
}
.socialLink:hover{
    background: #131517;
    padding: 3px 10px;
    box-shadow: 15px 15px 18px rgb(10, 10, 14);
    border: 3px solid rgb(62, 66, 72);   
}

@media (max-width: 600px){
    .iamgeDiv{
        width: 100%;
        height: 50vh;      
    } 
    .socialLink{
        background: #131517;
        padding: 2px 6px;
        box-shadow:  -2px -2px 8px rgba(199, 198, 198, 0.282), 
                     2px 2px 8px rgb(44, 44, 44), 
                     inset -2px -2px 8px rgba(204, 204, 204, 0.271),
                     inset 2px 2px 8px rgba(35, 33, 33, 0.47);
        border:3px solid rgb(26, 28, 31);
        transition: 0.5s ease-in-out;
    } 
}

@media (min-width: 601px) and (max-width: 1024px){
    .iamgeDiv{
        width: 80%;
        height: 50vh;      
    } 
    .socialLink{
        background: #131517;
        padding: 2px 6px;
        box-shadow:  -2px -2px 8px rgba(199, 198, 198, 0.282), 
                     2px 2px 8px rgb(44, 44, 44), 
                     inset -2px -2px 8px rgba(204, 204, 204, 0.271),
                     inset 2px 2px 8px rgba(35, 33, 33, 0.47);
        border:3px solid rgb(26, 28, 31);
        transition: 0.5s ease-in-out;
    }   
}
