.skillImgDiv{
    width: 100%;
    height: 20vh;
}
.grayIcons{
    filter: grayscale(10%);
}
.iconColor{
    fill: aqua;
}
#html{
    /* fill: blue; */
    filter: invert(31%) sepia(70%) saturate(1211%) hue-rotate(90deg) brightness(100%) contrast(100%);
}
.skillImg{
   width: 100%;
   height: 100%;
   cursor: pointer;
   transition: 0.3s ease-in-out;
}
.skillsName{
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    opacity: 0%;
    transition: 0.3s ease-in-out;
}
.skillImgDiv:hover .skillsName{
    opacity: 100%;
}
.skillImg:hover{
    transform: scale(1.1);
}


