.skillImgDiv{
    width: 100%;
    height: 20vh;
}
.grayIcons{
    filter: grayscale(10%);
}
.iconColor{
    fill: aqua;
}
.skillImg{
   width: 100%;
   height: 100%;
   cursor: pointer;
   filter: invert(98%) sepia(10%) saturate(69%) hue-rotate(53deg) brightness(75%) contrast(100%);
   transition: 0.4s ease-in-out;
}
.skillsName{
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    opacity: 0%;
    transition: 0.3s ease-in-out;
}
.skillImgDiv:hover .skillsName{
    color: white;
    opacity: 100%;
}
.skillImg:hover{
    filter: invert(19%) sepia(83%) saturate(7063%) hue-rotate(337deg) brightness(104%) contrast(109%);
    transform: scale(1.1);
}


