.aboutIamgeDiv{
    width: 100%;
    height: 65vh;
    background-color: #d6dadc;
    border: 6px solid #e6eaeb;
    box-shadow: -5px -5px 15px rgba(255,255,255,1),
                 4px 4px 8px rgba(0,0,0,0.1),
                 inset -5px -5px 15px rgba(255,255,255,1),
                 inset 9px 9px 15px rgba(0,0,0,0.1);
}
.downloadResume{
    color: black;
    font-weight: 600;
    padding: 6px 15px;
    text-shadow: 1px 1px 3px gray;
    border-radius: 2px;
    background-color: #d6dadc;
    border: 4px solid #e7ebec;
    box-shadow: -7px -7px 15px rgba(255,255,255,1),
                 4px 4px 8px rgba(0,0,0,0.1),
                 inset -6px -6px 15px rgba(255,255,255,1),
                 inset 15px 15px 15px rgba(0,0,0,0.1);
    text-decoration: none;
}
.downloadResume:hover{
   box-shadow: 10px 10px 15px black;
}
